p
	| This channel is password protected, please enter the correct password to access the chat room.
br
form.form-horizontal#passwordRoomForm
	div.form-group
		label.col-sm-4.control-label(for='inputChatPassword' maxlength='128') Password
		div.col-sm-8
			input.form-control(type='text', name='inputChatPassword', id='inputChatPassword' required='true' value='')
	div.form-group
		div.col-sm-offset-5.col-sm-7
			button.btn.btn-success.btn-lg(type='submit' onclick='joinChatRoomPassword()') Join Room