//Main UI
extends navbar
block content
  div.container#mainContainer
    div.row#firstRow
      div.col-xs-12.col-sm-8#chatAreaContainer
        div.topOffset
        div.well#chatArea
      div.col-xs-12.col-sm-4#chatAreaSecondContainer
        div.topOffset
        div.row
          div.col-xs-12#chatAreaParticipantsContainer
            p Chat Participants
          div.col-xs-12#chatAreaRoomListContainer
            p Chat Room List
    div.row#secondRow
      div.col-xs-12.col-sm-8#chatAreaInputContainer
        h3 Enter a Message
        textarea.form-control(rows='5')
      div.col-xs-12.col-sm-4#chatAreaExtraSpaceContainer
        p Extra Space
  div.modal.fade#mainModal(tabindex='-1', role='dialog', area-labelledby='myModalLebel', area-hidden='true')
    div.modal-dialog.modal-large
      div.modal-content#mainModalContent
        div.modal-header
          button.close(type='button', data-dismiss='modal' aria-hidden='true')
            i.fa.fa-times(style='color:red')
          h4.modal-title#mainModalTitle Title
        div.modal-body
          div#mainModalBody