//Main UI
extends navbar
block content
  div.container-fluid
    div.row
      div.col-xs-12.col-sm-8
        p first column
      div.col-xs-12.col-sm-4
        p second column
        div.row
          div.col-xs-12
            p test
    div.row
      div.col-xs-12.col-sm-8
        p chat box
      div.col-xs-12.col-sm-4
        p ad space
