extends layout

block navbar
	nav.navbar.navbar-default.navbar-fixed-top#navbarContainer
		div.container
				div.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#')
						img(src='images/logos/logo.png', id='navbarLogo')
				div#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							if isAuthed == true
								a.dropdown-toggle#navBarLink(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									img(src='images/default/avatar.png', id='navbarAvatar' class='img-circle')
									span#navBarUsername #{ username }
								ul.dropdown-menu
									li
										a(href='#') <i class="fa fa-user navbarIcon"></i>Profile
									li
										a(href='#') <i class="fa fa-cog navbarIcon"></i>Settings
									li
										a(href='#') <i class="fa fa-sign-out navbarIcon"></i>Log Out
									li.divider(role='seperator')
									li.dropdown-header Admin Panel
									li
										a(href='#') <i class="fa fa-server navbarIcon"></i>Server Settings
							else
								a#navBarLink(href='#' onclick='ajaxModalCall("accounts")') Login