/*
  Primary Style Sheet

  Color Schema:
  White: #F0F1F5
  Dark Blue: #112233
  Light Blue: #44BBFF
  Light Green: #66CC99
  Light Red: #FC575E
*/
body {
  font-family: 'Work Sans', sans-serif;
  padding-top: 50px;
}

a {
  color: #00B7FF;
}


#mainContainer{
  height: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/*
  Div that does nothing other than create an offset from the navbar
  Used this instead of padding-top, so there is no need to offset the extra spaces in calculating element heights against viewport
*/
.topOffset{
  height: 5px;
}