ul.dropdown-menu
	li
		a(href='#') <i class="fa fa-user navbarIcon"></i>Profile
	li
		a(href='#') <i class="fa fa-cog navbarIcon"></i>Settings
	li
		a(href='#') <i class="fa fa-sign-out navbarIcon"></i>Log Out
	li.divider(role='seperator')
	li.dropdown-header Admin Panel
	li
		a(href='#') <i class="fa fa-server navbarIcon"></i>Server Settings